<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css">


</head>
<script src="/layui/layui.js"></script>
<script type="application/javascript">
    layui.use(["form", "jquery", "layer"], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;

        $("#btn1").click(function () {
            // layer.alert('只想简单的提示');
            // layer.alert('加了个图标', {icon: 1});
            layer.alert('有了回调', function (index) {
                //do something
                alert("666");
                layer.close(index);
            });
        });

        $("#btn2").click(function () {
            layer.confirm('is not?', {icon: 3, title: '提示'}, function (index) {
                alert("666");
                layer.close(index);
            });
        });

        $("#btn3").click(function () {
            layer.prompt(function (value, index, elem) {
                alert(value); //得到value
                layer.close(index);
            });
        });
        $("#btn4").click(function () {
            layer.tab({
                area: ['600px', '300px'],
                tab: [{
                    title: 'TAB1',
                    content: '内容1'
                }, {
                    title: 'TAB2',
                    content: '内容2'
                }, {
                    title: 'TAB3',
                    content: '内容3'
                }]
            });
        });

        // $("#btn5").click(function () {
        //     layer.photos({
        //         photos: '#layer-photos-demo'
        //         ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        //     });
        // });

        $("#btn5").click(function () {
            $.getJSON('/layui/json/photos.json', function(json){
                layer.photos({
                    photos: json
                    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                });
            });
        });

        $("#btn6").click(function () {
            layer.msg('提示', {
                icon: 1,
                time: 1000 //2秒关闭（如果不配置，默认是3秒）
            }, function(){
                //do something
            });
        });
        $("#btn7").click(function () {
            layer.tips('只想提示地精准些', '#btn7');
        });

    })
</script>
<body>

<div class="layui-form-item">



    <div class="layui-input-block">
        <button type="button" class="layui-btn" id="btn1">alert</button>
        <button type="button" class="layui-btn" id="btn2">confirm</button>
        <button type="button" class="layui-btn" id="btn3">prompt</button>
        <button type="button" class="layui-btn" id="btn4">tab</button>
        <button type="button" class="layui-btn" id="btn5">photos</button>
        <button type="button" class="layui-btn" id="btn6">msg</button>
        <button type="button" class="layui-btn" id="btn7">tips</button>

    </div>
</div>
</body>
</html>